html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

@font-face {
    font-family: 'Montserrat';
    font-style:normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style:normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style:normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/PlayfairDisplay-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style:normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/PlayfairDisplay-Bold.woff2') format('woff2');
}
:root {
    --light-grey: #F4F4F4;
    --white: #FFFFFF;
    --black: #000000;
    --matterful-black: #231F20;
    --grey: #888888;
    --main-font: 'Montserrat', sans-serif;
    --sub-font: 'PlayfairDisplay', sans-serif;
}

.main {
    position:flex;
    width: 1920px;
    height: 8387.094px;
    flex-shrink: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.home-intro {
    display: flex;
    width: 770px;
    padding: 0px 55.503px 4px 55.703px;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    position: absolute;
    top: 60px;
    left: 575px;
    right: 575px;
}

.MATTERFUL-logo-intro {
    display: flex;
    width: 459.943px;
    height: 91.234px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.MATTERFUL {
    width: 459.943px;
    height: 91.264px;
    flex-shrink: 0;
    fill: var(--matterful-black);
}

.home-text {
    display: flex;
    width: 658.794px;
    height: 52px;
    flex-direction: column;
    justify-content: center;
    color: var(--black);
    font-weight: 400;
    font-family: var(--main-font);
    text-align: center;
    font-size: 18px;
    line-height: 30px; /* 166.667% */
}

.home-featured {
    width: 1920px;
    height: 530px;
    flex-shrink: 0;
    position:absolute;
    top: 288.23px;
    background-image: url(img/home-featured-img.jpg);
    background-position: 0px 0px;
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-size: cover;
}

.home-featured-content {
    display:inline-block;
    position:flex;
    width: 567px;
    height: 203px;
    flex-shrink: 0;
    margin-top: 163.5px;
    margin-left: 204px;
}

.home-featured-content-text {
    left: 15px;
}   

.ftr1 {
    display: flex;
    flex-direction: column;
    width: 200.481px;
    height: 19px;
    justify-content: center;
    flex-shrink: 0;
    color: var(--grey);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
}

.ftr2 {
    display: flex;
    width: 138px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--black);
    font-family: var(--sub-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
    bottom: 104px;
}

.ftr3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 471.325px;
    height: 52px;
    flex-shrink: 0;   
    color: var(--black);
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    top: 110px;
}

.home-featured-img {    
    position: absolute;
    width: 1000px;
    height: 500px;
    flex-shrink: 0; 
    top: 30px;
    right: 134px;
}

.home-tiles-container {
    position:absolute;
    top: 818.23px;
    display: flex;
    width: 1920px;
    padding: 57px 360px 15px 360px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 17px;
    background: #F4F4F4;
}

.Food-and-Beverage-Spotlight {
    display: flex;
    width: 443.544px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: var(--sub-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; 
}

.home-tiles-row {
    margin-right: 360px;
    width: 1200px;
    height: 4437.234px;
}

.callout-content {
    display: flex;
    padding: 30px 30px 50px 30px;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 0px 0px 8px 8px;
    background: #FFF;
}

.callout-content-wrapper {
    width: 609.984px;
    height: 123.984px;
}

.callout-content-wrapper-top {
    color: #888;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 150% */
    text-transform: uppercase;
}

.callout-content-wrapper-mid {
    color: #000;
    text-align: center;
    font-family: Playfair Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
}

.callout-content-wrapper-bottom {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.cauli {
    padding: 15px 15.02px 4042.25px 515px;
    width: 669.984px;
    height: 379.984px;
}